<!DOCTYPE html>
<html>
<head>
 <title>Document</title>
 <link rel="stylesheet" href="css/mainpage.css">
 <link rel="icon" href="https://img.freepik.com/premium-psd/sport-car-transparent-background-3d-rendering-illustration_494250-40917.jpg?w=900">
</head>
<body>
    <div id="navbar">
        <img id="icon" src="media/instalogo.jpg">
        <h1 id="text">Car Racing</h1>
        <a href="login"><img  id="profile" src="media/user.jpg"></a>
    </div> 
    <div id="main">
        <img id="bk" src="media/car.jpg">
        <!-- <div id="left"><img alt="image" src="media/lov.png"></div>  -->
        <div id="right"><p>Auto racing has existed since the invention of the automobile.
         Races of various sorts were organised, with the first recorded as early as 1867.
          Many of the earliest events were effectively reliability trials, aimed at proving 
          these new machines were a practical mode of transport, but soon became an important 
          way for automobile makers to demonstrate their machines. By the 1930s, specialist racing cars had developed.</p></div>
    </div>
    <div id="taskbar">
        <h1 id="copy">Copyright © 2023 by Mani Kumar </h1>
    </div>
</body>
</html>
